table {
	border-collapse: collapse;
	font-family: 'Helvetica Neue', sans-serif;
}

table td {
	padding: 8px;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.pokemon-td-id {
	width: 50px;
}

.pokemon-td-image {
	width: 50px;
}

.pokemon-td-name {
	width: 200px;
}

.row {
	display: flex;
	flex-flow: row wrap;
}

.pokemon-caught-img {
	margin-top: 14px;
	width: 40px;
}

table thead td {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}

table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}

table tbody tr {
	background-color: #f9fafb;
}

table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

h1 {
	color: #111;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
}

h2 {
	color: #111;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
}

p {
	color: #111;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
}

input {
	margin: 0px;
	padding: 12px;
	border: 1px solid #BBBBBB;
	border-radius: 6px;
}

button {
	margin: 0px;
	padding: 12px;
	border: 1px solid #BBBBBB;
	background-color: brown;
	border-radius: 6px;
	color: #FFFFFF;
}

button:disabled,
button[disabled] {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}